@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', 'Noto sans', sans-serif;
}

body {
  background-color: #f5f7fa;

  color: #333;

  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}